@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "NanumSquareLight";
  font-family: "NanumSquare";
  font-family: "NanumSquareBold";
  font-family: "NanumSquareExtraBold";
  font-family: "NanumSquareAcb";
  font-family: "NanumSquareAceb";
  font-family: "NanumSquareAcl";
  font-family: "NanumSquareAcr";
}

.dark {
  background-color: #0e0e10;
  color:white;
}


/* 1440px 이상 */
@media (min-width: 1440px) {
  .container {
    width: 1410px;
    margin: 0 auto;
  }
}

/* 1200px 이상 */
@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

/* 992px 이상 */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}

/* 768px 이상 */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}
