@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    font-family: "NanumSquareLight";
    font-family: "NanumSquare";
    font-family: "NanumSquareBold";
    font-family: "NanumSquareExtraBold";
    font-family: "NanumSquareAcb";
    font-family: "NanumSquareAceb";
    font-family: "NanumSquareAcl";
    font-family: "NanumSquareAcr";

    height: 100%;
  }
  .dark {
    @apply bg-[#0e0e10] text-white;
  }
  a {
    @apply cursor-pointer
  }
}

@layer components{
  .container {
    @apply px-4 mx-auto sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1536px]
  }
  .page {
    @apply min-h-[800px]
  }

  .hypertext {
    @apply text-cyan-700 text-lg font-medium cursor-pointer duration-300 hover:text-orange-400;
  }

  .highlight-underline {
    @apply underline decoration-emerald-300 decoration-8 underline-offset-[-3px]
}
}

@layer utilities{
  .hover-layer {
    @apply absolute hidden top-0 w-full h-full rounded-lg bg-black/0 text-white text-2xl font-bold duration-300 hover:bg-black/50;
  }
  
  .img-wrapper:hover .hover-layer {
    @apply inline-block; 
  }
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #00a88f; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

/* 1440px 이상 */
@media (min-width: 1440px) {
  .container {
    width: 1410px;
  }
}

/* 1200px 이상 */
@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    width: 1170px;
  }
}

/* 992px 이상 */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

/* 768px 이상 */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}